@{
    ViewData["Title"] = "Trang chủ";
}
@model IEnumerable<BanHang.Models.Product>

<div class="container mt-4">
    <h1 class="display-4 text-center">Chào mừng đến với cửa hàng MacBook</h1>

    <!-- DANH SÁCH SẢN PHẨM TĨNH -->
    <h2 class="text-center mb-4">Sản phẩm của chúng tôi</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4   ">
                <div class="card h-100 shadow">
                    <img src="@product.ImageUrl" class="card-img-top" style="height: 200px; object-fit: cover;"
                        alt="Product 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="fw-bold text-primary">Giá: @product.Price.ToString("N0") VNĐ</p>
                        @* Mô tả *@
                        <p class="card-text">@product.Description</p>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.Id })" class="btn btn-primary">Xem
                            chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
